---
layout: page
---
<div class="section">
	<h2>Places that I have been to </h2>
	<h5>click green countries or links below to see posts</h5>
	<div id="regions_div"></div>
	<div id = "travel_posts">
		{% assign t = "Travel" %}
		{% for post in site.posts %}

		<ul class="year">
		    {% if post.tags contains t %}
		      <li>
		      <span class="date">{{ post.date | date_to_string  }}</span>
		      <a href="{{ post.url }}">{{ post.title }}</a>
		      </li>
		    {% endif %}

		</ul>
		  {% endfor %}
	</div>
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	    <script type="text/javascript">
	      google.charts.load('current', {'packages':['geochart']});
	      google.charts.setOnLoadCallback(drawRegionsMap);

	      function drawRegionsMap() {
	      	var data = new google.visualization.DataTable();
	      	data.addColumn("string", 'Country');
	        var data = google.visualization.arrayToDataTable([
	          ['Country'],
	          ['Germany'],
	          ['United States'],
	          ['China'],
	          ['France'],
	          ['South Korea'],
	          ['Czech Republic'],
	          ['China'],
	          ['Austria'],
	          ['Belgium'],
	          ['Netherlands'],
	          ['Costa Rica'],
	          ['Denmark'],
	          ['Hungary'],
	          ['Iceland'],
	          ['Mexico'],
	          ['Norway'],
	          ['Portugal'],
	          ['United Kingdom'],
	          ['Italy'],
	          ['Switzerland'],
	        ]);
	        var options = {legend:null,
	    					colorAxis: null,
	    					'title':'Places that I have been to (click green countries to see my blog posts about my experience in those places - currently only US)'};

	        var chart = new google.visualization.GeoChart(document.getElementById('regions_div'));
	        function myClickHandler(){
	                var selection = chart.getSelection()[0]; // a country
	                if (selection) {
	                	var value=data.getValue(selection.row, 0);
	                	if (value == 'United States') {
	                		window.location.href = "2007/01/17/usa.html";
	                	}
	                	if (value == 'Iceland') {
	                		window.location.href = "2016/11/04/iceland.html";
	                	}
	                } 

	                // var message = '';

	                // for (var i = 0; i < selection.length; i++) {
	                //   var item = selection[i];
	                //   if (item.row != null && item.column != null) {
	                //     message += '{row:' + item.row + ',column:' + item.column + '}';
	                //   } else if (item.row != null) {
	                //     message += '{row:' + item.row + '}';
	                //   } else if (item.column != null) {
	                //     message += '{column:' + item.column + '}';
	                //   }
	                // }
	                // if (message == '') {
	                //   message = 'nothing';
	                // }
	                // alert(message);
	                // window.location = url;
	            }

	            google.visualization.events.addListener(chart, 'select', myClickHandler);
	        chart.draw(data, options);
	      }
	    </script>
</div>


