---
layout: default
---
<div class="wrapper">
	<div id="regions_div"></div>
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	    <script type="text/javascript">
	      google.charts.load('current', {'packages':['geochart']});
	      google.charts.setOnLoadCallback(drawRegionsMap);

	      function drawRegionsMap() {

	        var data = google.visualization.arrayToDataTable([
	          ['Country', 'Visited'],
	          ['Germany', 1],
	          ['United States', 1],
	          ['China', 1],
	          ['France', 1],
	          ['KR', 1],
	          ['CZ', 1],
	          ['CH',1],
	          ['AT',1],
	          ['BE',1],
	          ['CR', 1],
	          ['DK',1],
	          ['HU',1],
	          ['IS',1],
	          ['MX',1],
	          ['NO',1],
	          ['PT',1],
	          ['GB',1],
	          ['IT',1]
	        ]);

	        var options = {legend:'none',
	    					colorAxis: null};

	        var chart = new google.visualization.GeoChart(document.getElementById('regions_div'));

	        chart.draw(data, options);
	      }
	    </script>
</div>

